.table-container {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 12px 0;
}

.order-book-table {
  width: 60%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 11px;
}

.order-book-table th,
.order-book-table td {
  border: 1px solid #ddd;
  text-align: right;
  padding: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.order-book-table th {
  background-color: #f2f2f2;
}

.order-book-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Column Widths */
.col-count {
  width: 10%;
}
.col-amount {
  width: 15%;
}
.col-total {
  width: 20%;
}
.col-price {
  width: 15%;
}

button:disabled {
  cursor: not-allowed;
}
